*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #fff;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(3, 65, 74);
}
p{
    font-size: 36px;
    font-weight: 500;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: none;
    height: 100%;
    width: 80%;
}
.display{
    margin: 25px;
    display: flex;
    justify-content: center;
    gap: 150px;
}
.human, .computer{
    height: 200px;
}
.humanShake{
    animation: shakePlayer 0.8s linear;
}
.computerShake{
    animation: shakeComputer 0.8s linear;
}
.scores{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-content: center;
    width: 100%;
    padding: 0 0 0 60px;
}
.options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75%;
    width: 100%;
}
.btn{
    background: none;
    border: 2px solid #fff;
    border-radius: 5px;
}
.rock,.paper,.scissors{
    width: 125px;
    height: 60px;
}
.btn:hover{
    background: rgb(1, 35, 40);
    transition: 250ms;
}

@keyframes shakePlayer {
  0% {
    transform: rotate(-30deg);
  }
  25% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes shakeComputer {
  0% {
    transform: rotate(30deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
